<!-- Componente Home -->
<!-- Sección de bienvenida y top 5 animes -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Bienvenido a la página de Animes y Mangas</h1>
        </div>
    </div>
    <!-- top 5 animes y mangas -->
    <div class="accordion" id="accordionExample">
        <!-- Top Anime -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Top 5 mejores Animes
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4">
                        <!-- Card para mostrar los animes -->
                        <div class="col" *ngFor="let anime of animes; let i = index">
                            <div class="card h-100 d-flex flex-column">
                                <div class="card-header">
                                    <h5 class="card-title text-center">{{i+1}}</h5>
                                </div>
                                <img src="{{anime.images.webp.image_url}}" class="card-img-top"
                                    style="width: 100%; height: 300px; object-fit: cover;" alt="{{ anime.title }}">
                                <div class="card-body flex-grow-1">
                                    <h5 class="card-title">{{anime.title}}</h5>
                                    <p class="card-text">{{ anime.synopsis | slice:0:100 }}...</p>
                                </div>
                                <div class="card-footer">
                                    <!-- <a href="{{ anime.url }}" class="btn btn-primary w-100" target="_blank">Más información</a> -->
                                    <a [routerLink]="['/masInfo', anime.mal_id]" class="btn btn-primary w-100">Más información</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Mangas -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    Top 5 mejores Mangas
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4">
                        <!-- Card para mostrar los mangas -->
                        <div class="col" *ngFor="let manga of mangas; let i = index">
                            <div class="card h-100 d-flex flex-column">
                                <div class="card-header">
                                    <h5 class="card-title text-center">{{i+1}}</h5>
                                </div>
                                <img src="{{manga.images.webp.image_url}}" class="card-img-top"
                                    style="width: 100%; height: 300px; object-fit: cover;" alt="{{ manga.title }}">
                                <div class="card-body flex-grow-1">
                                    <h5 class="card-title">{{manga.title}}</h5>
                                    <p class="card-text">{{ manga.synopsis | slice:0:100 }}...</p>
                                </div>
                                <div class="card-footer">
                                    <!-- <a href="{{ manga.url }}" class="btn btn-primary w-100" target="_blank">More Info</a> -->
                                    <a [routerLink]="['home',  manga.mal_id ]" class="btn btn-primary w-100 disabled"
                                        target="_blank">Más información</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>